<!DOCTYPE html>
<html>
<head>
  <title>Scaffolding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  <h1>My Header for my Tasks and Task Lists Here!</h1>
</header>

<body>

  <div class="sidebar">
    <%= render "layouts/sidebar" %>
  </div>

<div class="main">
  <%= yield %>
</div>

</body>

<footer>
  <p>
    This is a site for all of the lists that I created. And this information is in the footer.
  </p>
</footer>

</html>
